<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-label color="red" class="ion-margin ion-padding-start">
      Welcome
      <p>
        <ion-text class="ion-margin ion-padding-start" style="color: black;">
          Vote App
        </ion-text>
      </p>
    </ion-label>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-list lines="full">
      <ion-list-header class="ion-margin">
        <ion-label>
          Connexion
        </ion-label>
      </ion-list-header>
      <ion-item-group class="ion-margin-horizontal ion-margin-bottom">
        <form [formGroup]="form">
          <div class="champ">
            <div class="div-input">
              <ion-item lines="none" style="--background: none">
                <ion-label position="floating">Mobile number</ion-label>
                <ion-input
                  formControlName="email"
                  type="text"
                ></ion-input>
              </ion-item>
            </div>
            <div class="div-input">
              <ion-item lines="none" style="--background: none">
                <ion-label position="floating">Mot de passe</ion-label>
                <ion-input
                  formControlName="password"
                  [type]="type ? 'password': 'text'"></ion-input>
              </ion-item>
            </div>
          </div>
        </form>
        <div class="ion-padding-bottom"
             style="padding:2%;display: flex;align-items: center;justify-content: space-between">
          <ion-button routerLink="/inscription" fill="clear" style="color: black;">S’inscrire</ion-button>

          <ion-button fill="clear" routerLink="/forgot-password" style="color: red;">Mot de passe oublié?
          </ion-button>
        </div>

        <ion-button (click)="handlerLogin()"
                    style="--border-color: white;--background: #ebe3e3;
                            color: white; --background-activated: white;gap: 10px;
                            --border-width: 2px;margin-left: 5%;margin-right: 5%;color: black;font-size: medium;--border-radius: 16px"
                    expand="block" size="large">
          Se connecter
        </ion-button>
      </ion-item-group>
    </ion-list>
  </ion-row>
</ion-footer>
