<app-header [page]="page"></app-header>


<ion-content [fullscreen]="false" class="ion-padding-start ion-padding-end" style="--background: #e7e7e7;">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-swiper></app-swiper>
  <h3>Liste des candidats</h3>
  <ion-card *ngFor="let candidat of candidats" style="border-radius: 10px;padding: 2%">
    <div style="display: flex; align-items: center;justify-content: space-between">
      <div>
        <ion-text style="font-weight: bold;font-size: 15px">{{candidat.name}}</ion-text>
      </div>
      <div>
        <ion-button fill="clear" (click)="handlerVoter(candidat.candidateId)">
          voter
        </ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>
