<ion-header  [translucent]="true" class="ion-padding-start ion-padding-end" style="background: #fff">
  <ion-toolbar style="--background: none;padding-right: 2%">
    <ion-buttons slot="start" id="main-content">
      <ion-menu-button style="font-size: 30px"></ion-menu-button>
      <ion-text style="font-weight: bold;font-size: 17px">Vote Application</ion-text>
    </ion-buttons>
    <ion-grid slot="end">
      <ion-col>
        <ion-icon size="large" name="stats-chart-outline"></ion-icon>
      </ion-col>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar style="--background: none;">
    <ion-searchbar placeholder="Recherche..." type="ios" clear-icon="trash-bin"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="options-outline" size="large" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

