.tabs{
  font-family: "Nato Sans HK", sans-serif;
  ion-segment{
    --background: none;
    ion-segment-button{
      font-size: 1rem;
      --border-width: 0;
      --padding-start: 8px !important;
      --padding-bottom: 3px !important;
      --padding-end: 8px !important;
      --padding-top: 3px !important;
      --background-checked: #0022ff;
      --indicator-color: transparent !important;
      --color: #7d7d7d;
      --color-checked: #fff;
      font-weight: bold;
      border-radius: 10px;
    }
  }
}
